beers_utils @ git+https://github.com/itmat/BEERS_UTILS@52e1a00057d2939651ab587a4ad1a6873dc8d49e
numpy==1.24.2
roman==4.0
pysam==0.20.0
pandas==1.5.3
termcolor==2.2.0
prettytable==3.6.0
PyYAML==6.0
Sphinx~=6.2.1
sphinx-rtd-theme
